# Golang CircleCI 2.0 configuration file
#
# Check https://circleci.com/docs/2.0/language-go/ for more details
version: 2
jobs:
  test:
    docker:
      - image: circleci/golang:1.9
        environment:
        - DB_DSN="host=localhost user=ireflect password=1Reflect dbname=ireflect-test sslmode=disable"
        - Driver="postgres"
      - image: postgres:9.5
        environment:
        - POSTGRES_USER=ireflect
        - POSTGRES_PASSWORD=1Reflect
        - POSTGRES_DB=ireflect-test
    working_directory: /go/src/github.com/{{ORG_NAME}}/{{REPO_NAME}}
    steps:
      - checkout
      - run: curl -L -s https://github.com/golang/dep/releases/download/v0.3.2/dep-linux-amd64 -o /go/bin/dep && chmod +x /go/bin/dep
      - run: make vendor
      - run: make test-coverage
      - run: make all
    post:
      - cp .gopath/bin/reflect-app-*.zip  $CIRCLE_ARTIFACTS/reflect-app.zip 
      - bash <(curl -s https://codecov.io/bash)

workflows:
  version: 2
  "test, build and deploy":
    jobs:
      - test:
          filters:
            tags:
              only: /.*/
